.fixFloat{
    clear:both
}
body{
    margin:auto;
    width: 960px;
    padding: 0px;
    background: url(../img/novofundo.png) repeat-x;
}
.logo{
    width: 26%;
    margin: -2%;
    margin-left: auto;
    float:left;
}
#oficial {
    float: right;
    margin-top: 50px;
}
#menu{
    float:left;
    margin-top: 0px;
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to bottom, white, white );
}
#menu li{
    height: 0px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 165px;
    text-align-last: end;
}
#menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: solid;
}
#moldura{
    width: 960px;
    height: 450px;
    background-color: gray;
    transition: background-image 2s;
    float: left;
    margin-top: 5px;
}
input{
    position: relative;
    bottom: 0px;
    float: left;
    color: red;
    background-color: greenyellow;
    width: 50%;
}
#lateral{
    float: right;
    width: 190px;
    padding: 5px;
    position: relative;
    bottom: 0px;
}
#lateral h1 {
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    text-align: center;
}
.Ramon{
    width: 130px;
    position: relative;
    left: 25px;
}
#lateral h2{
    font-size: 20px;
    padding: 7px;
}
#lateral p{
    text-align: justify;
    padding: 7px;
}
#Barriga{
    float: right;
    width: 190px;
    padding: 5px;
    position: relative;
    bottom: 0px;
}
#Barriga h1 {
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    text-align: center;
}
.Pesado{
    width: 130px;
    position: relative;
    left: 25px;
}
#Barriga h2{
    font-size: 20px;
    padding: 7px;
    text-align: center;
}
#Barriga p{
    text-align: justify;
    padding: 7px;
}
.Quico{
    width: 100px;
    position: relative;
    left: 45%;
}
.copyright{
    text-align: center;
}
#Chiquinha{
    position: relative;
    width: 750px;
    padding: 5px;
    float: left;
    background-color: tomato;
    bottom: 0px;
}
#Chiquinha h1{
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    text-align: center;
}
#Chiquinha p{
    text-align: justify;
    padding: 7px;
}
.Maria{
    width: 130px;
    position: relative;
    left: 40%;
}
#Clo{
    position: relative;
    width: 750px;
    padding: 5px;
    float: left;
    background-color: sandybrown;
    bottom: 0px;
    text-align: justify;
}
#Clo h1{
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    text-align: center;
}
.Tilde{
    width: 130px;
    position: relative;
    left: 40%;
}
#Florinda{
    position: relative;
    width: 750px;
    padding: 5px;
    float: left;
    background-color: pink;
    bottom: 0px;
}
#Florinda h1{
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    text-align: center;
}
.DonaFlo{
    width: 130px;
    position: relative;
    left: 40%;
}
#Girafales{
    position: relative;
    width: 750px;
    padding: 5px;
    float: left;
    background-color: grey;
    bottom: 0px;
}
#Girafales h1{
    font-weight: bold;
    font-size: 25px;
    padding: 7px;
    text-align: center;
}
.Prof{
    width: 130px;
    position: relative;
    left: 40%;
}
.Barril{
    width: 100px;
    position: relative;
    left: 37px;
}

